
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div class="jumbotron">
        <h1>My Family</h1>
        <p class="lead">Benga Mutki Bacha</p>
        <img src="~/Image/IMG_20170128_085558.jpg" />
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</body>
</html>
